:root {
  --sans-font: "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans",
    "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
  padding-left: 20px;
}

ul > li {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

i.fa-pad-right {
  margin-right: 0.5rem;
}

header > img {
  min-width: 300px;
  max-width: min(550px, 100%);
  width: fit-content;
  margin: 1rem 0 0.25rem 0;
}

body > header {
  padding: 0rem 0.5rem;
}

header > nav {
  padding: 0;
}

header > nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.dog {
  min-width: 300px;
  max-width: min(550px, 100%);
  width: fit-content;
  margin: 1rem 0 0.25rem 0;
}

.gd {
  min-width: 200px;
  max-width: min(100px, 40%);
  width: fit-content;
  margin: 1rem 0 0.25rem 0;
}
